.ButtonDice,
.Dices {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Dices {
    flex-direction: row;
    padding: 1rem;
}

.btn-dices-panel {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.btn-dices-panel>* {
    padding: 10px;
    margin: 10px;
    width: 100px;
}